// This file is used to override the default styles for right-to-left (RTL) languages.

@use './abstracts/variables' as v;

html[dir='rtl'] {
  .english-references {
    direction: ltr;
    text-align: left;
    font-size: 0.9em;
    font-family: v.$font-family-base;
  }
}
